{% block text_widget %}
    <span class="{{ column_class }}">{{ value }}</span>
{% endblock %}

{% block datetime_widget %}
    <span class="{{ column_class }}">{{ value|date(date_format) }}</span>
{% endblock %}

{% block anchor_widget %}
    <a class="{{ column_class }}" href="{{ path(route, params) }}" title="{{ title }}">{{ text }}</a>
{% endblock %}

{% block button_widget %}
    <button class="{{ column_class }} btn btn-default" title="{{ title }}">
        {% if icon %}
            {{ block('icon_widget') }}
        {% endif %}
        {{ text }}
    </button>
{% endblock %}

{% block icon_widget %}
    <i class="{{ column_class }} {{ icon_family }} {{ icon_family }}-{{ icon }}"></i>
{% endblock %}

{% block image_widget %}
    <img class="{{ column_class }}" src="{{ asset(asset_url) }}" alt="{{ alt }}" />
{% endblock %}
