{% block text_widget %}
    <span {{ block('attributes') }}>{{ value }}</span>
{% endblock %}

{% block datetime_widget %}
    <span {{ block('attributes') }}>{{ value|date(date_format) }}</span>
{% endblock %}

{% block anchor_widget %}
    <a {{ block('attributes') }} href="{{ path(route, params) }}" title="{{ title }}">{{ text }}</a>
{% endblock %}

{% block button_widget %}
    {% set attrs = attrs|merge({'class': attrs.class|default('') ~ ' btn btn-default', 'title':title}) %}
    <button {{ block('attributes') }}>
        {% if icon %}
            {% set attrs = attrs|merge({'class':''}) %}
            {{ block('icon_widget') }}
        {% endif %}
        {{ text }}
    </button>
{% endblock %}

{% block icon_widget %}
    {% set class = attrs.class|default(icon_family ~ ' ' ~ icon_family ~ '-' ~ icon) %}
    {% set attrs = attrs|merge({'class': class}) %}
    <i {{ block('attributes') }}></i>
{% endblock %}

{% block image_widget %}
    <img {{ block('attributes') }} src="{{ asset(asset_url) }}" alt="{{ alt }}" />
{% endblock %}

{% block attributes %}
    {% for key, val in attrs %}
        {{ key }}="{{ val }}"
    {% endfor %}
{% endblock %}
