{% block text_widget %}
    {% import _self as table %}
    {% if route is defined %}
        <a href="{{ path(route, params) }}" title="{{ title }}">
            <span{{ table.attributes(attrs) }}>{{ value|raw }}</span>
        </a>
    {% else %}
        <span{{ table.attributes(attrs) }}>{{ value|raw }}</span>
    {% endif %}
{% endblock %}

{% block datetime_widget %}
    {% import _self as table %}
    <span{{ table.attributes(attrs) }}>{{ value|raw }}</span>
{% endblock %}

{% block anchor_widget %}
    {% import _self as table %}
    <a{{ table.attributes(attrs) }} href="{{ path(route, params) }}" title="{{ title }}">{{ value|raw }}</a>
{% endblock %}

{% block button_widget %}
    {% import _self as table %}
    {% set attrs = attrs|merge({'class': attrs.class|default('') ~ ' btn btn-default', 'title':title}) %}
    <button{{ table.attributes(attrs) }}>
        {% if icon_class %}
            {% set attrs = attrs|merge({'class':''}) %}
            {{ block('icon_widget') }}
        {% endif %}
        {{ text|raw }}
    </button>
{% endblock %}

{% block icon_widget %}
    {% import _self as table %}
    {% set attrs = attrs|merge({'class': attrs.class|default('') ~ ' ' ~ icon_class }) %}
    {% if route is defined %}
        <a href="{{ path(route, params) }}" title="{{ title }}">
            <i{{ table.attributes(attrs) }}></i>
        </a>
    {% else %}
        <i{{ table.attributes(attrs) }}></i>
    {% endif %}
{% endblock %}

{% block image_widget %}
    {% import _self as table %}
    {% if route is defined %}
        <a href="{{ path(route, params) }}" title="{{ title }}">
            <img{{ table.attributes(attrs) }} src="{{ asset(asset_url, absolute=true) }}" alt="{{ alt }}" />
        </a>
    {% else %}
        <img{{ table.attributes(attrs) }} src="{{ asset(asset_url, absolute=true) }}" alt="{{ alt }}" />
    {% endif %}

{% endblock %}

{% macro attributes(attrs) %}{% for key, val in attrs %} {{ key }}="{{ val }}"{% endfor %}{% endmacro %}
