{% block text_widget %}
    {% import _self as table %}
    <span{{ table.attributes(attrs) }}>{{ value|raw }}</span>
{% endblock %}

{% block datetime_widget %}
    {% import _self as table %}
    <span{{ table.attributes(attrs) }}>{{ value|raw }}</span>
{% endblock %}

{% block anchor_widget %}
    {% import _self as table %}
    <a{{ table.attributes(attrs) }} href="{{ path(route, params) }}" title="{{ title }}">{{ value|raw }}</a>
{% endblock %}

{% block button_widget %}
    {% import _self as table %}
    {% set attrs = attrs|merge({'class': attrs.class|default('') ~ ' btn btn-default', 'title':title}) %}
    <button{{ table.attributes(attrs) }}>
        {% if icon %}
            {% set attrs = attrs|merge({'class':''}) %}
            {{ block('icon_widget') }}
        {% endif %}
        {{ text|raw }}
    </button>
{% endblock %}

{% block icon_widget %}
    {% import _self as table %}
    {% set class = attrs.class|default(icon_family ~ ' ' ~ icon_family ~ '-' ~ icon) %}
    {% set attrs = attrs|merge({'class': class}) %}
    <i{{ table.attributes(attrs) }}></i>
{% endblock %}

{% block image_widget %}
    {% import _self as table %}
    <img{{ table.attributes(attrs) }} src="{{ asset(asset_url) }}" alt="{{ alt }}" />
{% endblock %}

{% macro attributes(attrs) %}{% for key, val in attrs %} {{ key }}="{{ val }}"{% endfor %}{% endmacro %}
