{% block table %}
    {% spaceless %}
        {% set attrs = attrs|merge({
            'id': id,
            'class': attrs.class|default('') ~ ' emc-table table table-hover table-condensed table-striped table-responsive',
            'data-route': path(route, params ? {'tid':tid, 'params' : params} : {'tid':tid})|raw,
            'data-subtable-route' : subtid ? path(route, {'tid':subtid})|raw : "null",
            'data-export-route' : export|length > 0 ? path(export_route, params ? {'tid':tid, 'params' : params} : {'tid':tid})|raw : "null",
            'data-select-route' : allow_select ? path(select_route, params ? {'tid':tid, 'params' : params} : {'tid':tid})|raw : "null",
            'data-limit' : limit,
        }) %}
        {% import _self as table %}
        <table{{ table.attributes(attrs) }}>
            <colgroup>{{ block('colgroup') }}</colgroup>
            <thead>{{ block('thead') }}</thead>
            <tbody>{{ block('tbody') }}</tbody>
            <tfoot>{{ block('tfoot') }}</tfoot>
        </table>
        {{ block('javascript') }}
    {% endspaceless %}
{% endblock %}

{% block colgroup %}
    {% if allow_select %}
        <col style="width:{{ th.width|default('auto') }}" />
    {% endif %}
    {% for th in thead %}
        <col style="width:{{ th.width|default('auto') }}" />
    {% endfor %}
{% endblock %}

{% block thead %}
    {% if has_filter or caption or export|length > 0 %}
        <tr>
            <td colspan="{{ thead|length + (allow_select ? 1 : 0)}}">
                <div class="left">
                    {% if allow_select %}
                        {{ block('selection') }}
                    {% endif %}
                </div>
                {% if caption %}
                    <span class="caption">{{ caption }}</span>
                {% endif %}
                <div class="right">
                    {% if has_filter %}
                        {{ block('filter') }}
                    {% endif %}
                    {% if export %}
                        {{ block('export') }}
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endif %}
    <tr>
        {% if allow_select %}
            <th></th>
        {% endif %}
        {% set idx = 1 %}
        {% for key, th in thead %}
            {% if th.sort %}
                <th class="sortable" data-sort="{{ idx }}">
                    <div class="dropdown">{{ th.title }} <span class="caret"></span></div>
                </th>
            {% else %}
                <th>{{ th.title }}</th>
            {% endif %}
            {% set idx = idx + 1 %}
        {% endfor %}
    </tr>
{% endblock %}

{% block tbody %}
    {% if tbody|length > 0 %}
        {{ block('rows') }}
    {% else %}
        {{ block('empty') }}
    {% endif %}
{% endblock %}

{% block tfoot %}
    <tr>
        <td colspan="{{ thead|length + (allow_select ? 1 : 0) }}">
            {{ block('pages') }}
            {{ block('limit_select') }}
        </td>
    </tr>
{% endblock %}

{% block rows %}
    {% import _self as table %}
    {% for idx, tr in tbody %}
        {% set row_attrs = {} %}
        {% if tr.params %}
            {% set rowId = "row" %}
            {% for key, val in tr.params %}
                {% set key = 'data-' ~ camel_case_to_option(key) %}
                {% set row_attrs = row_attrs|merge({ (key) : val}) %}
                {% set rowId = rowId ~ '_' ~ val %}
            {% endfor%}
            {% set row_attrs = row_attrs|merge({ 'id' : rowId}) %}
        {% endif %}
        {% if tr.subtable %}
            {% set row_attrs = row_attrs|merge({ 'data-subtable' : tr.subtable|json_encode() }) %}
        {% endif %}
        {% if allow_select %}
            {% set row_attrs = row_attrs|merge({ 'data-selectable' : true }) %}
        {% endif %}
        <tr{{ table.attributes(row_attrs) }}>
            {% if allow_select %}
                <td class="column-select-checkbox"><input type="checkbox" /></td>
                {% endif %}
                {% for idx, td in tr.data %}
                <td>{{ table_cell(td) }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% if rows_pad and limit > 0 and tbody|length < limit-1 and total > limit %}
        {% for idx in tbody|length..limit %}
            <tr class="empty">
                <td colspan="{{ thead|length + (allow_select ? 1 : 0) }}"><div></div></td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block empty %}
    <tr>
        <td colspan="{{ thead|length + (allow_select ? 1 : 0) }}"><center>{{ 'No matching entries found'|trans({}, 'EMCTableBundle') }}</center></td>
    </tr>
{% endblock %}

{% block filter %}
    <div class="input-group filter">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" name="_filter" placeholder="Rechercher"/>
    </div>
{% endblock %}

{% block selection %}
    <div class="btn-group selection">
        <button type="button" class="btn btn-default btn-sm" title="{{ 'All/Any (page)'|trans({}, 'EMCTableBundle') }}">
            <i class="fa fa-square-o" icon-checked="fa-check-square-o" icon-unchecked="fa-square-o"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a>{{ 'All'|trans({}, 'EMCTableBundle') }}</a></li>
            <li><a>{{ 'Any'|trans({}, 'EMCTableBundle') }}</a></li>
            <li><a>{{ 'All (page)'|trans({}, 'EMCTableBundle') }}</a></li>
            <li><a>{{ 'Any (page)'|trans({}, 'EMCTableBundle') }}</a></li>
        </ul>
    </div>
{% endblock %}

{% block export %}
    <div class="btn-group export">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-download"></i> Export <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for name, exportView in export %}
                <li class="export-{{ name }}"><a data-export="{{ name }}"><i class="{{ exportView.icon }}"></i><span>{{ exportView.text }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block limit_select %}
    {% if total > limit %}
        <select id="{{ id }}_limit" class="selectpicker btn-xs" data-width="70px">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="0">{{ 'All'|trans({}, 'EMCTableBundle') }}</option>
        </select>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function() {
            EMCTable.EMPTY = '{{ 'No matching entries found'|trans({}, 'EMCTableBundle') }}';
            EMCTable.handle(document.getElementById('{{ id }}'));
        });
    </script>
{% endblock %}

{% block pages %}
    {{ include('EMCTableBundle:Table:pages.html.twig') }}
{% endblock %}

{% macro attributes(attrs) %}{% for key, val in attrs %} {{ key }}="{{ val }}"{% endfor %}{% endmacro %}
