{% block table %}
    {% spaceless %}
        <table>
            <colgroup>
                {{ block('colgroup') }}
            </colgroup>
            <thead>
                {{ block('thead') }}
            </thead>
            <tbody>
                {{ block('tbody') }}
            </tbody>
            <tfoot>
                {{ block('tfoot') }}
            </tfoot>
        </table>
    {% endspaceless %}
{% endblock %}

{% block colgroup %}
    {% spaceless %}
        {% for th in thead %}
            <col style="width:{{ th.width|default('auto') }}">
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block thead %}
    {% spaceless %}
        <tr>
            {% for key, th in thead %}
                <th>{{ th.title }}</th>
                {% endfor %}
        </tr>
    {% endspaceless %}
{% endblock %}

{% block tbody %}
    {% spaceless %}
        {% if tbody|length > 0 %}
            {{ block('rows') }}
        {% else %}
            {{ block('empty') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block tfoot %}
{% endblock %}

{% block rows %}
    {% spaceless %}
        {% for idx, tr in tbody %}
            <tr>
                {% for idx, td in tr.data %}
                    <td>
                        {% if td.type == 'anchor' %}
                            <a href="{{ url(td.route, td.params) }}">{{ td.value|raw }}</a>
                        {% else %}
                            {{ td.value|default(' - ')|raw }}
                        {% endif  %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block empty %}
    {% spaceless %}
        <tr>
            <td colspan="{{ thead|length }}">
        <center>{{ 'empty'|trans({}, 'EMCTableBundle') }}</center>
    </td>
</tr>
{% endspaceless %}
{% endblock %}