{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% from _self import table_tree_entry, table_tree_details %}

{% block toolbar %}
    {% set icon %}
        <span class="icon">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAQAAADCOPeRAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQffCRAKDw9oBbU8AAAAyUlEQVQoz+XQsUoDQRQF0DO7UyQ2Fm4wBC1FUFBR0f//ASshCJYbQxQVCRjUzKxFgpBs8AP03uY0Dx6Xv5EbjSTLGnnZhZLGbdD8fh9lMxnB1kaZOrOjcqRu6dhLlD16RpA8tZSjQmUmqJQq7yvqKYJkbI5S36SlAVMXdvWdqF2u6XTxw9gESdqgHAVdUaEr6Kwo6ApBcucL0YH7lg6ZujKw59zIdUuvUTLygA9z9Zo+zaNyuUNvgyplMLRvJihse5P5UaNj4n/kG+KnZsX5x+f1AAAAAElFTkSuQmCC" />
        </span>
        <span class="sf-toolbar-status {% if collector.tables|length > 0 %} sf-toolbar-status-green {% endif %}">{{ collector.tables|length }}</span>
    {% endset %}

    {% if collector.tables|length > 0 %}
        {% set text %}
            {% for table in collector.tables %}
                <div class="sf-toolbar-info-piece">
                    <b>{{ table.name }}</b>
                    <span class="badge">{{ table.query_result.total|default('') }}</span>
                </div>
            {% endfor %}
        {% endset %}
    {% endif %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAQAAABwdJQDAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAFdSURBVDjLndS/alRBHMXxz94dsmbXFIKQwv/vIBaCWkjAJ0hhY2XhI6yCYGFQEMEHiFXQUoxPoDZ2vkNEsQhsRFe9N3vvWOzkMjdp4s5UP75wzsyZw/BCpRaPsWv7Nnui/1oBjaadC4VZh3dpbyGH97YVGoXGLWsemiY6sOGDtx0qepwJjEUhm6MnXRowMhDMBDMrWLWrh2jlED05P9JfpRIl/mCiTIr7R2nAWZf11fpqF3DVXnIY4kyXLpTStpetxm3r7viRHJa99s5mh4o2MoEHoqVOSk+z6f48paGlNochTttViCmlnI4OUqpUqFJKe6qkODlKA8670mpcwjWTdIcRzmX04oIpbXmurxbM3HPXzczho1ee5TTgq8+twBd88rutM98yujN3OJG1ZRmn1FmXDtEgmmZt+Ynv6qRY4leHxqDnhnH7lmt4ZJocBrhurNAk2mPrWB/AwX7zDwcivKCm+Z3ZAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE1LTAyLTE0VDAxOjU3OjI2LTA2OjAwignJAgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNS0wMi0xNFQwMTo1NzoyNi0wNjowMPtUcb4AAABjdEVYdHN2Zzpjb21tZW50ACBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE1LjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIIctufUAAAAASUVORK5CYII=" />
        </span>
        <strong>Tables</strong>
        {% if collector.tables|length > 0 %}
            <span class="count"><span>{{ collector.tables|length }}</span></span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    {% if collector.tables|length %}
        <div class="window">
            <div class="tree">
                <h2>Tables</h2>
                <ul>
                    {% for name, data in collector.tables %}
                        {{ table_tree_entry(data, null, true) }}
                    {% endfor %}
                </ul>
            </div>

            {% for name, data in collector.tables %}
                {{ table_tree_details(data) }}
            {% endfor %}
        </div>
    {% else %}
        <p><em>No tables were created for this request.</em></p>
    {% endif %}

    <style type="text/css">{{ include('@EMCTableBundle/Resources/public/css/profiler.css') }}</style>
    <script type="text/javascript">{{ include('@EMCTableBundle/Resources/public/js/profiler.js') }}</script>
{% endblock %}

{% macro table_tree_entry(data, parentName, expanded) %}
    <li>
        <div class="tree-inner" data-tab-target-id="{{ parentName|default('') }}{{ data.id }}-details">
            {% if data.columns is defined and data.columns is not empty %}
                <a class="toggle-button" data-toggle-target-id="{{ parentName|default('') }}{{ data.id }}-columns" href="#"><span class="toggle-icon"></span></a>
                {% else %}
                <div class="toggle-icon empty"></div>
            {% endif %}
            {{ data.name|default('(no name)') }} {% if data.type_class is defined and data.type is defined %}[<abbr title="{{ data.type_class }}">{{ data.type }}</abbr>]{% endif %}
            {% if data.errors is defined and data.errors|length > 0 %}
                <div class="badge-error">{{ data.errors|length }}</div>
            {% endif %}
        </div>

        {% if data.columns is defined and data.columns is not empty %}
            <ul id="{{ parentName|default('') }}{{ data.id }}-columns"{% if not expanded %} class="hidden"{% endif %}>
                {% for child in data.columns %}
                    {{ _self.table_tree_entry(child, data.name ~ '-', false) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro table_tree_details(data, parentName) %}
    <div class="tree-details" {% if data.id is defined %} id="{{ parentName|default('') }}{{ data.id }}-details"{% endif %}>
        <h2>
            {{ data.name|default('(no name)') }}
            {% if data.type_class is defined and data.type is defined %}
                <span class="table-type">[<abbr title="{{ data.type_class }}">{{ data.type }}</abbr>]</span>
            {% endif %}
        </h2>

        {% if data.default_data is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ parentName|default('') }}{{ data.id }}-default_data" href="#">
                    Default Data <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ parentName|default('') }}{{ data.id }}-default_data">
                <table>
                    <tr>
                        <th width="180">Model Format</th>
                        <td>
                            {% if data.default_data.model is defined %}
                                <pre>{{ data.default_data.model }}</pre>
                            {% else %}
                                <em>same as normalized format</em>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Normalized Format</th>
                        <td><pre>{{ data.default_data.norm }}</pre></td>
                    </tr>
                    <tr>
                        <th>View Format</th>
                        <td>
                            {% if data.default_data.view is defined %}
                                <pre>{{ data.default_data.view }}</pre>
                            {% else %}
                                <em>same as normalized format</em>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}

        {% if data.passed_options is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ parentName|default('') }}{{ data.id }}-passed_options" href="#">
                    Passed Options <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ parentName|default('') }}{{ data.id }}-passed_options">
                {% if data.passed_options|length %}
                    <table>
                        <tr>
                            <th width="180">Option</th>
                            <th>Passed Value</th>
                            <th>Resolved Value</th>
                        </tr>
                        {% for option, value in data.passed_options %}
                            <tr>
                                <th>{{ option }}</th>
                                <td><pre>{{ value }}</pre></td>
                                <td>
                                    {% if data.resolved_options[option] is sameas(value) %}
                                        <em>same as passed value</em>
                                    {% else %}
                                        <pre>{{ data.resolved_options[option] }}</pre>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p><em>No options where passed when constructing this table.</em></p>
                {% endif %}
            </div>
        {% endif %}

        {% if data.resolved_options is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ parentName|default('') }}{{ data.id }}-resolved_options" href="#">
                    Resolved Options <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ parentName|default('') }}{{ data.id }}-resolved_options" class="hidden">
                <table>
                    <tr>
                        <th width="180">Option</th>
                        <th>Value</th>
                    </tr>
                    {% for option, value in data.resolved_options %}
                        <tr>
                            <th>{{ option }}</th>
                            <td><pre>{{ value }}</pre></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if data.query_result is defined %}
            <h3>
                <a class="toggle-button" data-toggle-target-id="{{ parentName|default('') }}{{ data.id }}-query_result" href="#">
                    Query Result
                    <span class="toggle-icon"></span>
                </a>
            </h3>

            <div id="{{ parentName|default('') }}{{ data.id }}-query_result" class="hidden">
                <table>
                    <tr>
                        <th width="180">Name</th>
                        <th>Value</th>
                    </tr>
                    {% for option, value in data.query_result %}
                        <tr>
                            <th>{{ option }}</th>
                            <td><pre>{{ value }}</pre></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
    {% if data.columns is defined %}
        {% for child in data.columns %}
            {{ _self.table_tree_details(child, data.name ~ '-') }}
        {% endfor %}
    {% endif %}
{% endmacro %}
