{% if limit > 0 %}
    {% set current = page %}
    {% set previous = max(1, page - 1) %}
    {% set pageCount = (total/limit)|round(0,'ceil') %}
    {% set next = min(pageCount, page + 1) %}
    {% set maxRange = min(pageCount,max(5,page+2)) %}
    {% set pagesInRange = range(max(1,min(page-2, maxRange-4)),maxRange) %}
{% endif %}

{% if limit > 0 and pageCount > 1 %}
    <ul class="pagination pagination-sm">
        {% if current > 1 %}
            <li class="previous"><a class="hidden-xs" data-page="1">&laquo;</a></li>
            <li class="previous"><a class="hidden-xs" data-page="{{previous}}">&lsaquo;</a></li>
        {% else %}
            <li class="previous"><span class="hidden-xs">&laquo;</span></li>
            <li class="previous"><span class="hidden-xs">&lsaquo;</span></li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page"><a data-page="{{page}}">{{ page }}</a></li>
            {% else %}
                <li class="current active"><a>{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if current < pageCount %}
            <li class="next"><a class="hidden-xs" data-page="{{next}}">&rsaquo;</a></li>
            <li class="next"><a class="hidden-xs" data-page="{{pageCount}}">&raquo;</a></li>
        {% else %}
            <li class="next"><span class="hidden-xs">&rsaquo;</span></li>
            <li class="next"><span class="hidden-xs">&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
